@media only screen and (max-device-width: 599px) {


  header{
    margin-bottom:50px;
    padding-bottom: 50px;
  }
  
  #showcase h2{
    margin-top:30px;
    padding-top: 30px;
    font-family: 'Merriweather', serif;
    font-size:25px;
  }
  
  #showcase h2 span {
        
    padding-right: 5px;
    padding-top: 5px;
    z-index: -4;
    
  }
  
  #showcase h2:after {
    content: "";
    bottom: -10px;
    left: 3px;
    right: 25px;
    height: 0.5em;
    border-top: 2px solid red;
    z-index: 1;
    display: inline-block;
  
  }
  
  
  #showcase p{
    padding-top: 10px;
    color: #000000;
    font-size: 15px;
    font-family: "Anenir Next";
    line-height: 21px;
  }
  .spacer{
    margin-top: 10px;
  }
  
  
  i.fa {
  font-size: 20px;
  color: #000000;
  border-radius: 60px;
  padding: -3.9em 39.1em;
  margin: 7px;
  margin-left: 3px;
  }
  
  i.fa-facebook:hover{
  background-color: #4267b2;
  
  } 
  i.fa-twitter:hover{
  background-color: #38A1F3;
  } 
  i.fa-linkedin:hover{
  background-color: #000000
  } 
  i.fa-google-plus:hover{
  background-color: #DD4B39;
  } 
  .img{
    display: none;
  }
  
  
  }
  @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
    /* Styles */
    #showcase h2{
          
      color:  #000;
      font-size: 31px;
      font-family: 'Merriweather', serif;
      font-weight: bold;
      position: relative;
  
    
  }
  
  #showcase h2 span {
    
    padding-right: 5px;
    padding-top: 5px;
    z-index: -4;
    
  }
  
  #showcase h2:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 150px;
  right: 50px;
  height: 0.5em;
  border-top: 2px solid red;
  z-index: 1;
  }
    }
  