 
  @font-face {
    font-family: "Anenir Next";
  
    src: url(fonts/AvenirNextLTPro-It.otf);
    font-weight: italic
   
    }

    @font-face {
      font-family: "Anenir Next";
    
      src: url(fonts/AvenirNextLTPro-Regular.otf);
     
     
      }

      @font-face {
        font-family: "Anenir Next";
        src: url(fonts/AvenirNextLTPro-Bold.otf);
        font-weight: bold;
       
        }

       
body{
    
    margin: 0;
    padding:0;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: subpixel-antialiased;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  /* global */
  ol,
  ul {
    list-style: none;
  }
  
  
  p{
    line-height: 35px;
    color: #262626;
    font-family:'Anenir Next';
    font-size: 20px;
  }
  
  a {
      text-decoration: none;
      font-family:'Anenir Next';
  }
  
  .background{
    /* background-image: url(../img/abstract-art-blue-616650@3x.jpg); */
    background-size: cover;
    background-position: center center;
    position: relative;
    top: 0;
    bottom: 0;
    height: 100vh;
   
  }
  
  /* header style */
  .header-nav {border-bottom:1px solid  #d3d3d3;
       padding: 10px 10px;
      -webkit-transition: all 0.2s ease;
         -moz-transition: all 0.5s ease;
              -o-transition: all 0.2s ease;
                  transition: all 0.2s ease;
  }
  
  
  
  .header-nav .navbar-nav > li {
      margin: 0 0 0 20px;
  }
  .header-nav .navbar-nav .nav-link {
    position: relative;
    padding: 5px 20px;
    display: inline-block;
    font-size: 14px;
    vertical-align: top;
    color: #ffffff;
    font-weight: 300;
  }

  .dropdown-menu a{
    font-weight: bold;
    padding: 15px;
    border: none;
    color:#091F3C;
  }

  .dropdown-menu a :hover{
    
    padding: 15px;
  }
  .dropdown-menu a:nth-child(3){
    border-bottom:none;
    padding: 10px;
  }
  

  /*Navbar Toogle*/
  .navbar-toggler {
    border: none;
    padding: 10px 6px;
    outline: none !important;
  }
  .navbar-toggler span {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
    background: #fff;
  }
  .navbar-toggler span + span {
      margin-top: 4px;
  }
  
  @media (max-width: 991px){
    .navbar-nav {
      padding-top: 5px;
    }
    .header-nav .navbar-nav > li {
      margin: 8px 0;
    }
    .header-nav .navbar-nav .nav-link {
      padding: 0;
    }
   
    
  }

  
  header{
    margin-bottom:50px;
     padding-bottom:50px;
  }
  
  /* change the background color */
  .navbar {
    background: #091F3C;
    scroll-behavior: smooth;  
    height:55px;
    
  }
  .navbar {
    text-decoration: none;
  }
  .nav-link{
    color: #ffffff;
    text-transform: uppercase;
    padding: 10px 15px;
  }
  
    
  @media (min-height: 720px) and (min-width: 1000px) {
    #showcase h2{
        
      color:  #000;
      font-size: 48px;
      text-rendering: optimizeLegibility;
      font-family: 'Merriweather', serif;
      font-weight: bold;
      position: relative;
  
    
}
#showcase h2 span {
      font-size: 48px;
      text-rendering: optimizeLegibility;
  padding-right: 5px;
  padding-top: 5px;
  z-index: -4;
  
}


  #showcase h2:after {
    content: "";
    position: absolute;
    bottom: 10;
    left: 0px;
    right: 50px;
    height: 0.5em;
    border-top: 2px solid red;
    z-index: 1;
    display:block;
}

}
  
  #showcase h2{
        color:  #000;
        font-size: 48px;
        text-rendering: optimizeLegibility;
        font-family: 'Merriweather', serif;
        font-weight: bold;
        position: relative;
  }
  
  #showcase h2 span {
      
      padding-right: 5px;
      padding-top: 5px;
      z-index: -4;
      
  }
  
  #showcase h2:after {
    content: "";
    position: absolute;
    bottom: 10;
    left: 0%;
    right: 7%;
    height: 0.5em;
    border-top: 2px solid red;
    z-index: 1;
    display:block;
}

    
    
    
    
    #showcase p{
      color:  #000;
      font-size: 19px;
      font-family: "Anenir Next";
    }
    
    
    #showcase{
      margin-bottom:10px;
      padding-bottom:10px;
      background-image: url("/images/text.jpg");
      background-size: cover;
      
      z-index: -4;
      opacity: 100 ;
      
    }
    
    .spacer{
      margin-top: 27px;
    }

    

     i.fa {
       position:relative;
      font-size: 15px;
      color:  #091F3C;
      border-radius: 60px;
      left:50;
      right:50;
      padding-right:6px;
      margin:2px;

    }
    
     i.fa:hover{
    color: #4267b2;
    padding: 1px;
    
    } 
   

    .contact{
      margin-top:10px;
      margin-left:-45px;


    }
    .contact li{
      padding:5px;
      font-family:'Anenir Next';
      color: #707070;
      font-size: 13px;
    }
    .space{
      padding: 5px;
    }
    #position{
      border-left: 1px solid #707070;
      height: 60px;
      margin: 30px;
      padding:5px;
      opacity: 0.10;
     }
     hr{
       margin:0;
     } 
     @font-face {
       font-family: "Anenir Next";
     
       src: url(fonts/AvenirNextLTPro-It.otf);
       font-weight: italic
      
       }
   
       @font-face {
         font-family: "Anenir Next";
       
         src: url(fonts/AvenirNextLTPro-Regular.otf);
        
        
         }
   
         @font-face {
           font-family: "Anenir Next";
           src: url(fonts/AvenirNextLTPro-Bold.otf);
           font-weight: bold;
          
           }
   
          
   
     /* global */
     ol,
     ul {
       list-style: none;
     }
     *h2{
       padding: 0;
       margin:0;
    
     }
     
     p{
       line-height: 35px;
       color: #262626;
       font-family:'Anenir Next';
       font-size: 20px;
     }
     
     a {
         text-decoration: none;
         font-family:'Anenir Next';
     }
     
     .background{
       /* background-image: url(../img/abstract-art-blue-616650@3x.jpg); */
       background-size: cover;
       background-position: center center;
       position: relative;
       top: 0;
       bottom: 0;
       height: 100vh;
      
     }
     
     /* header style */
     .header-nav {
          padding: 10px 10px;
         -webkit-transition: all 0.2s ease;
            -moz-transition: all 0.5s ease;
                 -o-transition: all 0.2s ease;
                     transition: all 0.2s ease;
     }
     
     
     
     .header-nav .navbar-nav > li {
         margin: 0 0 0 20px;
     }
     .header-nav .navbar-nav .nav-link {
       position: relative;
       padding: 5px 20px;
       display: inline-block;
       font-size: 14px;
       vertical-align: top;
       color: #ffffff;
       font-weight: 300;
     }
   
     .dropdown-menu a{
       
       padding: 10px;
     }
     .dropdown-menu a:nth-child(3){
       border-bottom:none;
       padding: 10px;
     }
     
   
     /*Navbar Toogle*/
     .navbar-toggler {
       border: none;
       padding: 10px 6px;
       outline: none !important;
     }
     .navbar-toggler span {
       display: block;
       width: 22px;
       height: 2px;
       border-radius: 1px;
       background: #fff;
     }
     .navbar-toggler span + span {
         margin-top: 4px;
     }
     
     @media (max-width: 991px){
       .navbar-nav {
         padding-top: 5px;
       }
       .header-nav .navbar-nav > li {
         margin: 8px 0;
       }
       .header-nav .navbar-nav .nav-link {
         padding: 0;
       }
       .dropdown>li{
         background:#D9534F;
         border-bottom:1px solid #791C1A;
         border-top:2px solid #791C1A;
         border-right:2px solid #791C1A; 
         }
     .dropdown>li>a:hover{
         background:#D9534F; 
         }
       
       
     }
   
     
   li.dropdown:hover > .dropdown-menu {
     display: block;
   }
     
     
     header{
       margin-bottom:50px;
        padding-bottom:50px;
     }
     
     /* change the background color */
     .navbar {
       background: #091F3C;
       scroll-behavior: smooth;  
       height:55px;
       
     }
     .navbar {
       text-decoration: none;
     }
     .nav-link{
       color: #ffffff;
       text-transform: uppercase;
       padding: 10px 15px;
     }
     
       
     @media (min-height: 720px) and (max-width: 1000px) {
       #showcase h2{
           
         color:  #000;
         text-rendering: optimizeLegibility;
         font-size: 48px;
         font-family: 'Merriweather', serif;
         font-weight: bold;
         position: relative;
     
       
   }
   #showcase h2 span {
    text-rendering: optimizeLegibility;
         font-size: 48px;
     padding-right: 5px;
     padding-top: 5px;
     z-index: -4;
     
   }
   
   
     #showcase h2:after {
       content: "";
       position: absolute;
       bottom: 10;
       left: 0px;
       right: 50px;
       height: 0.5em;
       border-top: 2px solid red;
       z-index: 1;
       display:block;
   }
   
   }
     
     #showcase h2{
           color:  #000;
           text-rendering: optimizeLegibility;
           font-size: 48px;
           font-family: 'Merriweather', serif;
           font-weight: bold;
           position: relative;
     }
     
     #showcase h2 span {
         
         padding-right: 5px;
         padding-top: 5px;
         z-index: -4;
         
     }
     
     #showcase h2:after {
       content: "";
       position: absolute;
       bottom: 10;
       left: 0%;
       right: 7%;
       height: 0.5em;
       border-top: 2px solid red;
       z-index: 1;
       display:block;
   }
   
       
       
       
       
       #showcase p{
         color:  #000;
         font-size: 19px;
         font-family: "Anenir Next";
       }
       
       
       #showcase{
         margin-bottom:10px;
         padding-bottom:10px;
         background-image: url("/images/text.jpg");
         background-size: cover;
         
         z-index: -4;
         opacity: 100 ;
         
       }
       
       .spacer{
         margin-top: 27px;
       }
   
       
   
        i.fa {
          position:relative;
         font-size: 15px;
         color:  #091F3C;
         border-radius: 60px;
         left:50;
         right:50;
         padding-right:6px;
         margin:2px;
   
       }
       
        i.fa:hover{
       color: #4267b2;
       padding: 1px;
       
       } 
      
   
       .contact{
         margin-top:10px;
         margin-left:-45px;
   
   
       }
       .contact li{
         padding:5px;
         font-family:'Anenir Next';
         color: #707070;
         font-size: 13px;
       }
       .space{
         padding: 5px;
       }
       #position{
         border-left: 1px solid #707070;
         height: 60px;
         margin: 30px;
         padding:5px;
         opacity: 0.10;
        }
        hr{
          margin:0;
        }