
  
  @font-face {
    font-family: "Anenir Next";
  
    src: url(fonts/AvenirNextLTPro-It.otf);
    font-weight: italic
   
    }

    @font-face {
      font-family: "Anenir Next";
    
      src: url(fonts/AvenirNextLTPro-Regular.otf);
     
     
      }

      @font-face {
        font-family: "Anenir Next";
        src: url(fonts/AvenirNextLTPro-Bold.otf);
        font-weight: bold;
       
        }

        html{
          background-image: url(../img/abstract-art-blue-616650@3x.jpg) no-repeat center center fixed;

        }

body{
    font-size: 20px -18.5rem;
    line-height: 17px;
    margin: 0;
    padding:0;
   
  }
  /* global */

  
  p{
    line-height: 40px;
    color: #262626;
    font-family:'Anenir Next';
    font-size: 20px;
  }
  
  a {
      text-decoration: none;
      font-family:'Anenir Next';
  }
  
  .background{
    background-image: url(../img/abstract-art-blue-616650@3x.jpg);
    background-size: cover;
    background-position: center center;
    position: relative;
    top: 0;
    bottom: 0;
    height: 100vh;
   
  }
  
  /* header style */
  .header-nav {
       padding: 15px 10px;
      -webkit-transition: all 0.2s ease;
         -moz-transition: all 0.5s ease;
              -o-transition: all 0.2s ease;
                  transition: all 0.2s ease;
  }
  
  
  
  .header-nav .navbar-nav > li {
      margin: 0 0 0 20px;
  }
  .header-nav .navbar-nav .nav-link {
    position: relative;
    padding: 5px 20px;
    display: inline-block;
    font-size: 14px;
    vertical-align: top;
    color: #ffffff;
    font-weight: 600;
  }
  .header-nav .navbar-nav .nav-link:after {
      content: '';
      position: absolute;
      z-index: 10;
      width: 0;
      height: 2px;
      background: #ccc;
      -webkit-transition: ease all 0.2s;
         -moz-transition: ease all 0.2s;
           -o-transition: ease all 0.2s;
              transition: ease all 0.2s;
      
  }
  .header-nav .navbar-nav .nav-link:after {
      bottom: 0;
      left: 0;
  }
  .header-nav .navbar-nav .nav-link.active:after{
      width: 100%;
  }
  
  /*Navbar Toogle*/
  .navbar-toggler {
    border: none;
    padding: 10px 6px;
    outline: none !important;
  }
  .navbar-toggler span {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
    background: #fff;
  }
  .navbar-toggler span + span {
      margin-top: 4px;
  }
  
  @media (max-width: 991px){
    .navbar-nav {
      padding-top: 5px;
    }
    .header-nav .navbar-nav > li {
      margin: 8px 0;
    }
    .header-nav .navbar-nav .nav-link {
      padding: 0;
    }
  }
  
  
  header{
    margin-bottom:80px;
     padding-bottom:80px;
  }
  
  /* change the background color */
  .navbar {
    background: #091F3C;
    scroll-behavior: smooth;  
    
  }
  .navbar {
    text-decoration: none;
  }
  .nav-link{
    color: #ffffff;
    text-transform: uppercase;
    padding: 10px 15px;
  }
  
    
  
    #showcase h1{
        
        color: #ffffff;
        font-size: 50px;
        font-family: 'Poppins', sans-serif;
        font-weight: bold;
    }
    
    #showcase p{
      color: #fff;
      font-size: 22px;
      font-family: "Anenir Next";
    }
    
    
    #showcase{
      margin-bottom:10px;
      padding-bottom:10px;
      background-image: url("/images/text.jpg");
      background-size: cover;
      
      z-index: -4;
      opacity: 100 ;
      
    }

    .borderleft{
      border-left: 2px solid #FF0000;
      height: -500px;
    }

     i.fa {
      font-size: 24px;
      color: #fff;
      
      border-radius: 60px;
      
      padding: 0.1em 0.1em;
      margin: 7px;
      margin-left: 20px;
    }
    
     i.fa-facebook:hover{
    background-color: #4267b2;
    
    } 
     i.fa-twitter:hover{
      background-color: #38A1F3;
    } 
     i.fa-linkedin:hover{
      background-color: #fff
    } 
     i.fa-google-plus:hover{
      background-color: #DD4B39;
    } 