@font-face {
  font-family: "Anenir Next";
  src: url(fonts/AvenirNextLTPro-It.otf);
  font-weight: italic
}

@font-face {
  font-family: "Anenir Next";
  src: url(fonts/AvenirNextLTPro-Regular.otf);
}

@font-face {
  font-family: "Anenir Next";
  src: url(fonts/AvenirNextLTPro-Bold.otf);
  font-weight: bold;
}


/* global */

ol,
ul {
  list-style: none;
}

body *h2 {
  padding: 0;
  margin: 0;
}

p {
  line-height: 35px;
  color: #262626;
  font-family: 'Anenir Next';
  font-size: 20px;
}

body {
  max-width: 100%;
}

a {
  text-decoration: none;
  font-family: 'Anenir Next';
}


/* header style */

.header-nav {
  padding: 8px 10px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.header-nav .navbar-nav>li {
  margin: 0 0 0 20px;
}

.header-nav .navbar-nav .nav-link:hover {
  color: #0bb5ff;
  opacity: 0.6;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
}

.header-nav .navbar-nav .nav-link {
  position: relative;
  padding: 5px 20px;
  display: inline-block;
  font-size: 14px;
  vertical-align: top;
  color: #ffffff;
  font-weight: 300;
}


/* header style */

.dropdown-menu a:hover {
  padding: 10px;
  border-right: 1px solid #0bb5ff;
  border-left: 1px solid #0bb5ff;
}

.dropdown-menu a {
  padding: 10px;
  font-family: "Nunito Medium";
  color: #091F3C;
}

.dropdown-menu a:nth-child(3) {
  border-bottom: none;
  padding: 10px;
}


/*Navbar Toogle*/

.navbar-toggler {
  border: none;
  padding: 10px 6px;
  outline: none !important;
}

.navbar-toggler span {
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
  background: #fff;
}

.navbar-toggler span+span {
  margin-top: 4px;
}


/*Navbar Toogle*/

@media (max-width: 991px) {
  .navbar-nav {
      padding-top: 5px;
  }
  .header-nav .navbar-nav>li {
      margin: 8px 0;
  }
  .header-nav .navbar-nav .nav-link {
      padding: 0;
  }
  .header-nav .navbar-nav .nav-link:hover {
      color: #0bb5ff;
      opacity: 0.6;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
  }
}

header {
  margin-bottom: 50px;
  padding-bottom: 50px;
}


/* change the background color */

.navbar {
  background: #091F3C;
  scroll-behavior: smooth;
}

.navbar {
  text-decoration: none;
}

.nav-link {
  color: #ffffff;
  text-transform: uppercase;
  padding: 10px 15px;
}

@media (min-height: 720px) and (max-width: 1000px) {
  #showcase h2 {
      color: #000;
      text-rendering: optimizeLegibility;
      font-size: 48px;
      font-family: 'Merriweather', serif;
      font-weight: bold;
  }
  #showcase h2 {
      overflow: hidden;
  }
  #showcase h2:after {
      content: "";
      display: inline-block;
      height: 0.5em;
      vertical-align: bottom;
      width: 61%;
      margin-right: -100%;
      margin-left: 10px;
      border-top: 2px solid red;
  }
}

#showcase h2 {
  color: #000;
  text-rendering: optimizeLegibility;
  font-size: 48px;
  font-family: 'Merriweather', serif;
  font-weight: bold;


}


#showcase h2 {
  overflow: hidden;
}

#showcase h2:after {
  content: "";
  display: inline-block;
  height: 0.5em;
  vertical-align: bottom;
  width: 50%;
  margin-right: -100%;
  margin-left: 10px;
  border-top: 2px solid red;
}

#showcase p {
  color: #000;
  font-size: 19px;
  font-family: "Anenir Next";
  max-width: 100%;
}

#showcase {
  margin-bottom: 10px;
  padding-bottom: 10px;
  background-image: url("/images/text.jpg");
  background-size: cover;
  z-index: -4;
  opacity: 100;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=10000)";
}

#spacelocation {
  margin-top: 27px;
  padding: 5px;
}

#spacenumber {
  margin-top: 27px;
  padding: 5px;
}

#spacecontact {
  margin-top: 27px;
  padding: 3px;
}

i.fa {
  position: relative;
  font-size: 15px;
  color: #091F3C;
  border-radius: 60px;
  left: 50;
  right: 50;
  padding-right: 20px;
  margin: 2px;
}

i.fa:hover {
  color: #4267b2;
}

.contact {
  margin-top: 10px;
  margin-left: -45px;
  padding-top: 20px
}

.contact li {
  padding: 5px;
  font-family: 'Anenir Next';
  color: #707070;
  font-size: 13px;
}

.contact a {
  text-decoration: none;
  color: #707070;
}

.spacer {
  padding: 60px 7px 2px 25px;
}

#position {
  border-left: 1px solid #707070;
  height: 60px;
  margin: 30px;
  padding: 5px;
  opacity: 0.10;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=10)";
}

hr {
  margin: 0;
}



@media only screen and (max-width: 100px) {
  h2 {
      font-size: 45px;
  }
}

@-moz-document url-prefix() {
  #showcase h2:after {
    content: "";
    display: inline-block;
    height: 0.5em;
    vertical-align: bottom;
    width: 52%;
    margin-right: -100%;
    margin-left: 10px;
    border-top: 2px solid red;
  }
 
  #showcase h2{
    font-size: 31px!important;
  }
  
}